.createAccount {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:$secondaryColor;
    
    justify-content:center;
    text-align: center;
    &__subtitle{
        @include headingFont(4rem);
        color:white;
        margin:0;
        padding:10px 0;
        text-align: center;
    } &__text{
        @include bodyFont(black);
        
    }
    &__text--address{
        text-align: center;
    }
    &__span{
        text-transform:capitalize;
        font-weight:bold;
    }
    &__background{
        display:flex;
        flex-direction:column;
        justify-content:center;
        max-width:700px;
    }
}


// ======================== header =====================

.createAccount__header{
    text-align:center;
    height:70px;
    background:$primaryColor;
    
}
.header__background{
    display:flex;
    height:calc(100vh - 70px);
    justify-content:center;
    
}

.header__userName
{
    @include headingFont(3rem);
    color:white;
    font-weight:bold;
    margin:0;
    padding:30px 0px;
}
.header__companyM{
    font-size:5rem;
}
.header__userName{
    text-transform: capitalize;
    text-align:center;
    
}

// ============== form =================

.createAccount__form{
    display:flex;
    flex-direction: column;
    margin-top:20px;
}
.createAccount__label{
    @include bodyFont(black);
    
    text-align:center;
    font-weight:bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.app__radioLabel{
    background:$secondaryColor;
}