
// ====================== main ========================

.main{
    background: $secondaryColor;
    text-align:center;
    &__h3 {
        @include headingFont(2rem);
        margin:50px 0;

    }
    &__mapPadding{
        padding:10px 0;
    }
    &__divider{
        border:1px solid black;
        width:10%;
        margin: 30px auto;
    }
    &__button{
        @include button(1.8rem);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 10px auto;
        padding: 0;
    }
    &__button--displayFlex{
        display:flex;
        
    }
    &__displayResults{
        @include bodyFont($primaryColor);
        // text-align:left;
        border:1px solid $primaryColor;
        margin-bottom:10px;
        padding:10px;
        text-transform: capitalize;
        background:$primaryColor;
    }
    &__fontAwesome{
        font-size: 3rem;
    }

    &__map{
        background: $primaryColor;
        padding: 0px 0 50px 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--filterButtons{
            display: flex;
            flex-direction: row;
            margin:auto;
            width: 250px;
            padding:20px 0;
        }
    }
}

// ================= header ========================
.header{
    background:$primaryColor;
    &__subTitle{
        margin:0;
        text-align:center;
        @include headingFont(6rem);
        padding:20px 0;
        color:white;
    }
    
}

// =============== form ==================

.mainForm{
    @include bodyFont(black);
    font-size:1.2rem;

    &__inputLabel--displayFlex{
        display:flex;
        justify-content: space-around;
        
    }
    &__inputLabel--column{
        display:flex;
        flex-direction:column;
        align-items: center;
        padding:0 10px;
        font-size:2rem;
        position:relative;
        background:$secondaryColor;
    }
    &__address{
        margin:0;
    }

    &__errorMessage{
        position: absolute;
        width: 400px;
        height: 100px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;
        margin-left: -200px;
        border-radius: 30px;
        cursor: pointer;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
        p {
            margin-top: 20px;
            font-weight: bold;
            @include bodyFont($thirdColor);
            font-size: 2rem;
            
        }

        p:last-child {
            text-transform: uppercase;
            margin: 0;
            font-size: 1.2rem;
            color: $grey;
        }
    }

}
label{
    margin-bottom:10px;
}


// ================= display result ======================

.main__displayResults--title{
    text-align:center;
    @include headingFont(2.8rem);
    color:$primaryColor;
}
.main__displayResults{
    background:$secondaryColor;
  
    &__display--title,
    &__display--number{
        color:$primaryColor;
        text-align: center;
    }

}


//====================== messages ===============================


.main__messagesButton{
    position: absolute;
    right: 20px;
    top: 19px;
    color: white;
    background:none;
    border: none;
}















