
// ====================== main ========================

.main{
    background: $secondaryColor;
    text-align:center;
    &__h3 {
        @include headingFont(2rem);
        margin:50px 0;

    }
    &__divider{
        border:1px solid black;
        width:10%;
        margin: 30px auto;
    }
    &__button{
        @include button(1.8rem);
        width:35%;
        border-radius: 10%;
    }
    &__button--displayFlex{
        display:flex;
    }
    &__displayResults{
        @include bodyFont(white);
        text-align:left;
        border:1px solid $primaryColor;
        margin-bottom:10px;
        padding:10px;
        text-transform: capitalize;
        background:$primaryColor;
    }
}
// ================= header ========================
.header{
    background:$primaryColor;
    &__subTitle{
        margin:0;
        text-align:center;
        @include headingFont(6rem);
        padding:20px 0;
        color:white;
    }
    
}

// =============== form ==================

.mainForm{
    @include bodyFont(black);
    font-size:1.2rem;

    &__inputLabel--displayFlex{
        display:flex;
        
    }
    &__inputLabel--column{
        display:flex;
        flex-direction:column;
        align-items: center;
        padding:0 10px;
    }
    &__address{
        margin:0;
    }
}
label{
    margin-bottom:10px;
}
