@import url("https://fonts.googleapis.com/css?family=Ubuntu:700|Work+Sans");
html {
  font-size: 62.5%; }

img {
  display: block;
  max-width: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.wrapper {
  width: 90%;
  margin: 0 auto; }

.app__button {
  line-height: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  color: #e898e9;
  text-transform: uppercase;
  display: block;
  font-size: 1.8rem;
  padding: 20px 20px;
  width: 250px;
  cursor: pointer;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 50px;
  margin: 20px auto;
  font-weight: bold;
  text-decoration: none;
  background: white; }
  .app__button:active {
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1; }

.app__input {
  width: 300px;
  padding: 10px 10px;
  margin: 10px auto;
  cursor: pointer; }

input[type="radio"] {
  position: absolute;
  z-index: -1; }

.app__font-awesome:hover,
.app__radioLabel:hover {
  color: #e898e9; }

.app__font-awesome {
  font-size: 3rem;
  margin-top: 20px; }

.app__radioLabel {
  color: #0d6978; }

.activeLabel {
  color: #e898e9; }

.login {
  background: #b6d2cf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; }
  .login__title {
    font-size: 8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #0d6978;
    margin: 0; }
  .login__subtitle {
    line-height: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: #0d6978;
    margin-bottom: 10rem; }

.createAccount {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #b6d2cf;
  justify-content: center;
  text-align: center; }
  .createAccount__subtitle {
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 10px 0;
    text-align: center; }
  .createAccount__text {
    line-height: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: black; }
  .createAccount__text--address {
    text-align: center; }
  .createAccount__span {
    text-transform: capitalize;
    font-weight: bold; }
  .createAccount__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px; }

.createAccount__header {
  text-align: center;
  height: 70px;
  background: #0d6978; }

.header__background {
  display: flex;
  height: calc(100vh - 70px);
  justify-content: center; }

.header__userName {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 30px 0px; }

.header__companyM {
  font-size: 5rem; }

.header__userName {
  text-transform: capitalize;
  text-align: center; }

.createAccount__form {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }

.createAccount__label {
  line-height: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0; }

.app__radioLabel {
  background: #b6d2cf; }

.main {
  background: #b6d2cf;
  text-align: center; }
  .main__h3 {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px 0; }
  .main__mapPadding {
    padding: 10px 0; }
  .main__divider {
    border: 1px solid black;
    width: 10%;
    margin: 30px auto; }
  .main__button {
    line-height: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: #e898e9;
    text-transform: uppercase;
    display: block;
    font-size: 1.8rem;
    padding: 20px 20px;
    width: 250px;
    cursor: pointer;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border-radius: 50px;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
    padding: 0; }
    .main__button:active {
      outline: none;
      -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
      -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
      box-shadow: inset 0px 0px 5px #c1c1c1; }
  .main__button--displayFlex {
    display: flex; }
  .main__displayResults {
    line-height: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: #0d6978;
    border: 1px solid #0d6978;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: capitalize;
    background: #0d6978; }
  .main__fontAwesome {
    font-size: 3rem; }
  .main__map {
    background: #0d6978;
    padding: 0px 0 50px 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main__map--filterButtons {
      display: flex;
      flex-direction: row;
      margin: auto;
      width: 250px;
      padding: 20px 0; }

.header {
  background: #0d6978; }
  .header__subTitle {
    margin: 0;
    text-align: center;
    font-size: 6rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0;
    color: white; }

.mainForm {
  line-height: 1.8rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  color: black;
  font-size: 1.2rem; }
  .mainForm__inputLabel--displayFlex {
    display: flex;
    justify-content: space-around; }
  .mainForm__inputLabel--column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    font-size: 2rem;
    position: relative;
    background: #b6d2cf; }
  .mainForm__address {
    margin: 0; }

label {
  margin-bottom: 10px; }

.main__displayResults--title {
  text-align: center;
  font-size: 2.8rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d6978; }

.main__displayResults {
  background: #b6d2cf; }
  .main__displayResults__display--title, .main__displayResults__display--number {
    color: #0d6978;
    text-align: center; }

.main__messagesButton {
  position: absolute;
  right: 20px;
  top: 19px;
  color: white;
  background: none;
  border: none; }

.messages {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: white;
  display: flex; }
  .messages__inbox {
    width: 100vw;
    max-width: 700px;
    height: 100vh;
    max-height: 700px;
    background-color: white; }
